@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Hello! My name is Nasreddine Zaimi, and I am passionate about making C# ASP.NET web applications. This ClimaticView was created using ASP.NET MVC as a part of my journey to explore and develop web applications that are both functional and beautiful. Thank you for visiting my site!</p>
